<ion-view cache-view="false" view-title="About Us" name="aboutus-view">
	<ion-pane  style="background-color: #FFFFFF">
		<ion-content scroll="true">
			<section>
				<div class="col padding">
					<img  src="app/assets/images/icon.png">
				</div>
				<div class="row">
					<div class="col padding">
						<h4>Baptist Convension Nigeria.</h4>
						<p class="padding">

							<p>Published by: Publications Department, Nigerian Baptist Convention. P. M.B 5113, Ibadan, Oyo State, Nigeria
						Prepared by: Christian Education Department, Discipleship Training Ministry, and Sunday School Division, Nigerian Baptist Convention</p>

							<p>Foreword:  Olusola Ayo-Obiremi PHD<br>
							Director, Christian Education Department, Nigerian Baptist Convention<br>
							Rev. Dr Adelokoji Ijaola<br>
							Director, Publications Department, Nigerian Baptist Convention</p>

							<p>Designed by Dynamic Initiative Consult <br> http://www.dicng.com</p>

						<p>@ 2018, Publishing Board, Nigerian Baptist Convention</p>

						</p>
					</div>
					</a>
				</div>
			</section>
		</ion-content>
	</ion-pane>
</ion-view>