<ion-view cache-view="false" view-title="About Us" name="aboutus-view">
	<ion-pane  style="background-color: #FFFFFF">
		<ion-content scroll="true">
			<section>
				<div class="col padding">
					<img  src="app/assets/images/icon.png">
				</div>
				<div class="row">
					<div class="col padding">
						<h4>Baptist Convension Nigeria.</h4>
						<p class="padding">

							<p>For any enquiries, Contact us at:</p>
							<p>Nigerian Baptist Convention, <br>P.M.B, 5113, Ibadan, <br>Oyo State, Nigeria.</p>
							<p> info@dicng.com</p>

						<p>@ 2018, Publishing Board, Nigerian Baptist Convention</p>

						</p>
					</div>
					</a>
				</div>
			</section>
		</ion-content>
	</ion-pane>
</ion-view>