<ion-view cache-view="false" view-title="Sunday School Lessons 2020" name="dashboard-view">

	<!--<ion-pane  style="background-color: #1A84B0">-->
	<ion-pane  style="background-color: #ffffff">
		<ion-content scroll="true">
			<section>

				<div class="row">
					<div class="col text-center card calm-bg">
						<a href="#/app/dashboard/lang/sundayschool2020" class="item item-icon-left">
							<i class="icon ion-ios-book dark"></i>
							<h2><span class="dark">English Version</span></h2>
							<p><span class="dark" style="font-weight: bold; font-size: 16px;">Start reading</span></p>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col text-center card calm-bg">
						<a href="#/app/dashboard/lang/sundayschoolYoruba2020" class="item item-icon-left">
							<i class="icon ion-ios-book dark"></i>
							<h2><span class="dark">Yoruba Version </span></h2>
							<p><span class="dark" style="font-weight: bold; font-size: 16px;">Start reading</span></p>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col text-center card calm-bg">
						<a href="#/app/dashboard/lang/sundayschoolHousa2020" class="item item-icon-left">
							<i class="icon ion-ios-book dark"></i>
							<h2><span class="dark">Hausa Version</span></h2>
							<p><span class="dark" style="font-weight: bold; font-size: 16px;">Start reading</span></p>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col text-center card calm-bg">
						<a ui-sref="tab.notes" class="item item-icon-left">
							<i class="icon ion-compose dark"></i>
							<h2><span class="dark">NotePad</span></h2>
							<p><span class="dark" style=" font-weight: bold; font-size: 16px;">Take notes</span></p>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col text-center card calm-bg">
						<a ui-sref="tab.todos" class="item item-icon-left">
							<i class="icon ion-clipboard dark"></i>
							<h2><span class="dark">To do list</span></h2>
							<p><span class="dark" style="font-weight: bold; font-size: 16px;">List out your to do</span></p>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col text-center card calm-bg">
						<a ui-sref="app.appointment" class="item item-icon-left">
							<i class="icon ion-email dark"></i>
							<h2><span class="dark">Book Appointment</span></h2>
							<p><span class="dark" style="font-weight: bold; font-size: 16px;">Submit your prayer request</span></p>
						</a>
					</div>
				</div>


			</section>
		</ion-content>

	</ion-pane>
</ion-view>