<ion-view cache-view="false" view-title="Sunday School Lessons 2020" name="dashboard-view">

	<div class="bar bar-subheader" style="padding: 20px">
		<div class="title" style="margin-top: 5px;"><span ng-if="weekNumber>1"><button ng-click="previous()" class="button button-calm ion-ios-rewind"></button></span>
			<button class="button button-light"> Week {{weekNumber}}</button>
			<span ng-if="weekNumber<52"><button ng-click="next()" class="button  button-calm ion-ios-fastforward"> </button></span>
		</div>
	</div>

	<ion-pane  style="background-color: #FFF">
		<ion-content scroll="true" ng-class="fontSize" class="has-subheader">
			<section>
				<div class="row col padding">
					<h4 style="text-transform: capitalize; text-align: center">{{current.topic}}</h4>
					<h4 style="text-align: center">{{current.devotional_date}}</h4>
					<p ng-bind-html="current.devotional_reading" style="text-align: center"></p>
					<p ng-bind-html="current.background_scripture" style="text-align: center"></p>
					<p ng-bind-html="current.lesson_scripture" style="text-align: center"></p>
					<p ng-bind-html="current.golden_text"></p>
					<p ng-bind-html="current.aims"></p>
					<p ng-bind-html="current.introduction"></p>
					<h4 style="color: red" ng-if="current.lesson1">Lesson 1</h4>
					<p ng-bind-html="current.lesson1"></p>
					<h4 style="color: red" ng-if="current.discussion_time1">Discussion 1</h4>
					<p ng-bind-html="current.discussion_time1"></p>
					<h4 style="color: red" ng-if="current.lesson2">Lesson 2</h4>
					<p ng-bind-html="current.lesson2"></p>
					<h4 style="color: red" ng-if="current.discussion_time2">Discussion 2</h4>
					<p ng-bind-html="current.discussion_time2"></p>
					<h4 style="color: red" ng-if="current.lesson3">Lesson 3</h4>
					<p ng-bind-html="current.lesson3"></p>
					<h4 style="color: red" ng-if="current.discussion_time3">Discussion 3</h4>
					<p ng-bind-html="current.discussion_time3"></p>
					<h4 style="color: red" ng-if="current.lesson4">Lesson 4</h4>
					<p ng-bind-html="current.lesson4"></p>
					<h4 style="color: red" ng-if="current.discussion_time4">Discussion 4</h4>
					<p ng-bind-html="current.discussion_time4"></p>
					<h4 style="color: red">Fellowship</h4>
					<p ng-bind-html="current.fellowship"></p>
					<h4 style="color: red">Take Home</h4>
					<p ng-bind-html="current.take_home"></p>
					<h4 style="color: red">Prayer Points</h4>
					<p ng-bind-html="current.prayer_points"></p>
					<p style="padding: 5px 15px 20px 15px;"></p>
				</div>
			</section>
		</ion-content>

		<script id = "popover.html" type = "text/ng-template">
			<ion-popover-view>
				<ion-header-bar>
					<h1 class = "title">Glossary</h1>
				</ion-header-bar>
				<ion-content>
					<div class="row">
						<div class="col padding text-center">
							<a class=" button icon ion-ios-calendar button-calm" ion-datetime-picker date ng-model="row.appDate"> Pick a Date</a>
						</div>
					</div>
					<div class="row">
						<div class="col padding text-center">
							<strong>{{row.appDate|date:"MMMM dd, yyyy"}}</strong>
						</div>
					</div>
					<div ng-if="row.appDate" class="row">
						<div class="col padding text-center">
							<a class="button ion-search button-calm" href="#/app/dashboard/filter/{{langInfo}}/{{row.appDate| date: 'yyyy-MM-dd'}}"> Preview </a>
						</div>
					</div>
				</ion-content>

			</ion-popover-view>
		</script>



	</ion-pane>

	<div class="tabs-striped tabs-color-dark tabs-background-stable" style="padding: 0;">
		<div class="tabs">
			<a class="tab-item " ng-click="openPopover($event)">
				<i class="icon ion-ios-calendar-outline"></i>
				Grossary
			</a>
			<a class="tab-item"  ng-click="decrease()">
				<i class="icon ion-minus-round"></i>
				Decrease
			</a>
			<a class="tab-item" ng-click="increase()">
				<i class="icon ion-plus-round"></i>
				Increase
			</a>
		</div>
	</div>
</ion-view>