<ion-view cache-view="true" view-title="Events" name="event-view">
    <!--<ion-nav-buttons side="right">
        <a class="button button-balanced" href="#" onclick="window.open('http://cdn.livestream.com/embed/newfrontierstv?layout=4&color=0x006ccd&autoPlay=true&mute=false&iconColorOver=0xe4f2ff&iconColor=0xb5dcff&allowchat=true&height=340&width=560', '_blank','location=yes','closebuttoncaption=Return');">Live TV</a>
    </ion-nav-buttons>-->
    <ion-pane  style="background-color: #FFFFFF">
        <ion-content scroll="true">
            <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="PullRefresher()">
            </ion-refresher>
            <section  ng-repeat="latest in featured">
                <div class="col no-padding" style="margin: -20px 0; padding:0;">
                    <img class="full-image" src="{{surl}}{{latest.post_image}}">
                </div>
                <div class="row">
                    <a href="#/app/events/{{latest.post_id}}" class="subdued padding-top" style="font-size: 12px;">
                        <div class="col padding">
                            <h4>{{latest.post_title}}</h4>
                            <p class="subdued" style="font-size: 12px;"> <i class="icon ion-clock"></i> {{latest.post_date|timeAgo}}</p>
                        </div>
                    </a>
                </div>
            </section>
            <div class="list">
                <a ng-repeat="row in news" class="item item-thumbnail-left item-text-wrap" href="#/app/events/{{row.post_id}}" style="margin-bottom:-15px">
                    <img ng-if="row.post_image" src="{{surl}}{{row.post_image}}" style="height: 65px;">
                    <h2>{{row.post_title}}</h2>
                    <p class="subdued padding-top" style="font-size: 12px;"><i class="icon ion-clock"></i> {{row.post_date|timeAgo}}</p>
                </a>
            </div>
        </ion-content>
        <ion-footer-bar class="bar bar-balanced" ng-if="advert.post_title">
            <div class="col text-center">
                <a class="light" style="font-size: 16px;" href="#/app/advert/{{advert.post_id}}">
                    <p>{{advert.post_title}}</p>
                </a>
            </div>
        </ion-footer-bar>
    </ion-pane>
</ion-view>